html, body, h2{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Montserrat;
    overscroll-behavior: none;
}
.container{
    overflow: hidden;
}
header{
    width: 99vw;
    background: #FF99C4;
    display: flex;
    height: 21vh;
    background-image: linear-gradient(#FF99C4 55%, white 100%);
    margin-bottom: 1vh;
}

.upper-header{
    display: flex;
    width: 99vw;
    height: 13vh;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 6vh 1vh 6vh;
}
.logo img{
    width: 150px;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #8D8D8D;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 308px;
    margin: 0 5vh 0 5vh;
    background-color: #FFFFFF;
    padding: 1vh;
}

input{
    font-family: Montsserat;
    border: none;
    width: 85%;
    outline: none;
    padding: .8vh;
    font-weight: 100;
    font-size: 14px;
    color: #8D8D8D;
}

.lupa{
    margin: .1vh;
}

.main{
    display: grid;
    grid-template-columns: 0.25fr 0.1fr 0.25fr 0.1fr;
    width: 80vw;
    padding: 1vh 0 .5vh 0;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    margin: auto;
}
.maior_picole, .menor_picole{
    background: #FFFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
}
.sub-1, .sub-2{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.menor_picole img{
    width: 8vw;
    padding: 1.25vw;
}
.maior_picole img{
    padding: 10px 40px 0 40px;
    width: 9.8vw;
}
.maior_picole p, h2{
    margin: 0;
    padding: 0;
}
.maior_picole h2{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    padding: 10px 0 10px 0;
}
.maior_picole p{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #8A8585;
    padding: 0 5px 0 4px;
}
.top{
    margin-bottom: 2vh;
}
.bottom{
    margin-top: 2vh;
}


footer{
    background: #F49B8C8F;
    width: 99vw;
    height: 30vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3vw 0 0;
}
.first-line, .second-line, .third-line{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15vh;
    font-weight: 500;
    font-size: 16px;
    color: #404040;
}
.right-side, .middle-side, .left-side{
    width: 33vw;
}
.right-side img{
    margin: 1vw;
}
.middle-side h3{
    padding-top: 17vh;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.middle-side{
    display: flex;
    justify-content: space-around;
}
.left-side img{
    width: 10vw;
}
.left-side{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 20vh;
}

.change-colour-buttons img{
    width: 95px;
}
.change-colour-buttons{
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

/* trocar cor apertando butões */
.blue-header{
    background: linear-gradient(180deg, rgba(81, 111, 251, 0.8) 44.17%, rgba(255, 255, 255, 0.12) 100%);
}
.blue-footer{
    background: rgba(81, 111, 251, 0.56);
}
.orange-header{
    background: linear-gradient(180deg, rgba(240, 94, 43, 0.8) 44.17%, rgba(255, 255, 255, 0.12) 100%);
}
.orange-footer{
    background: rgba(240, 94, 43, 0.56);
}
