@media (max-width: 1024px) and (min-width: 200px) {
    .logo img{
        align-items: center;
        width: 16vh;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        order: -2;
    }

    .upper-header{
        flex-wrap: wrap;
        padding: 2vh 2vh 1vh 2vh;
    }

    .search{
        width: 40px;
        height: 40px;
        padding: 0;
        order: -1;
        margin: .1vh;
    }

    .change-colour-buttons{
        padding: 2vh;
        width: 80vw;
        height: 8vh;
        margin: auto;
        justify-content: space-evenly;
    }
    input{
        display: none;
    }

    .lupa{
        margin-right: 0;
        margin-left: 7px;
    }

    .first-line, .second-line, .third-line{
        padding-left: 0;
        font-size: 12px;
        color:  #404040;
        font-weight: 600;
        line-height: 15px;
    }
    footer{
        flex-direction: column-reverse;
        align-items: center;
        height: 30vh;
        padding-top: 3vh; 
    }
    .middle-side h3{
        padding-top: 1vh;
        font-size: 13px;
        text-align: center;
        font-weight: 600;
    }
    .middle-side{
        width: 70vw;
        padding-bottom: 4vh;
    }
    .left-side {
        flex: 0;
        display: none;
    }
    .right-side{
        margin: auto;
        width: auto;
    }
    .right-side img{
        margin-right: 20px;
    }
    .main{
        grid-template-rows: 50% 50%;
        grid-row-gap: 2vw;
        height: 75vh;
        width: 0;
        margin: auto;
        grid-template-columns: unset;
        justify-content: space-evenly;
    }
    .maior_picole img{
        width: 18vh;
        padding-left: 10px;
        padding-right: 10px;
    }
    .maior_picole p{
        font-size: 10px;
        padding: 0;
        width: 20vh;
        line-height: 1.2;
    }
    .maior_picole h2{
        font-size: 12px;
        line-height: 0;
        font-weight: 600;
    }
    .menor_picole img{
        width: 80px;
    }
    .menor_picole{
        width: 110px;
    }
    .sub-1{
        align-items: flex-end;
    }
    .chica-bon{
        grid-column: 2;
    }
    .sub-2{
        grid-column: 1;
        grid-row: 2;
    }

    .expanded-search{
        height: 5.2vh;
        border-radius: 2.46vh;
        max-width: 308px !important;
    }

    .show-input{
        display: flex;
        padding: 0;
        margin-left: 15px;
        font-size: 4vw;
    }

    .lupa-expanded{
        margin-right: 1vh !important;
        position: absolute;
        right: 5.8vw;
        z-index: 20;
    }
}